@use "base"
@use "spacing"

main
  @include spacing.layout
section
  @include spacing.section
  display: flex
  align-items: center
  flex-direction: column
h1
  height: 4rem
  display: flex
  align-items: center
  justify-content: center
input:not([type=submit]), textarea, select, button
  font: inherit
  padding: 0.0625em 0.25em
  border: 1px solid black
button, input[type=submit]
  cursor: pointer
  font: inherit
  padding: 0.0625em 0.25em
  border: 1px solid black
input[type=number]
  width: 2.5em
input[type=range]
  -webkit-appearance: none
  appearance: none
  background: transparent
  cursor: pointer
  padding: 0
  flex-grow: 1
  &::-webkit-slider-runnable-track
    height: 1rem
  &::-webkit-slider-thumb
    -webkit-appearance: none
    height: 2rem
    width: 0.5rem
    background: white
    border: 1px solid black
    margin-top: -0.5rem
div[role=group]
  @include spacing.group
  display: flex
  align-items: center
  column-gap: 0.5rem
  width: 100%
  label
    width: 5.5em
  span
    width: 2.5em
  &#controls
    label
      width: 7em
      display: flex
      column-gap: 0.5em
      align-items: center
  &#paths
    width: 100%
    flex-direction: column
    *
      display: flex
      align-items: center
    div
      column-gap: 0.5rem
      width: 100%
    input
      flex-grow: 1
article
  width: 100%
  *
    display: block
    @include spacing.group
svg
  text
    font-size: 0.5px
    font-family: sans-serif
    stroke-width: 0.05
